meta(charset='utf8')
title Minimal Express and passport App
link(rel='stylesheet', href='/css/style.css') 
link(rel='stylesheet', href='/css/bootstrap.min.css')
link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')