body {
  padding-top: 60px;
}

.auth-container {
  width: 400px;
  margin: 0 auto;
  background-color: whitesmoke;
}

.auth-container h1 {
    width: 400px;
  margin-bottom: 30px;
  text-align:center;
}