!!!
html
  //-HEAD DEFINITION
  head
    include ../includes/head
    
  //-BODY DEFINITION
  body
    include ../includes/header
    
    //-container is a twitter-bootstrap selector, ensuring here the block "body" will display nicely in the middle
    .container
      block body
        block main
        block content
      
  //-FOOT DEFINITION
  include ../includes/foot
